# Dependencies
node_modules
npm-debug.log*
pnpm-debug.log*

# Build outputs
.output
dist
.vinxi

# Development files
.env*
!.env.prod.local
.DS_Store

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yaml

# Documentation
README.md

# IDE
.vscode
.idea

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Temporary folders
tmp
temp
